.custom-all-visible-dropdwn {
    display: flex;
    flex-direction: column;

    .action-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .visible-dropdwn-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;

        input.big-checkbox {
            margin-right: 15px;
        }
    }

    .group-wrapper {
        padding: 5px;
        margin-bottom: 0px;
    }

    .separator {
        border-bottom: 1px solid lightgray;
        margin-left: 5px;
    }
}