.advanced-search-wrapper {
    width: 100%;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .flex-column {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .inner-container {
        width: 80%;
    }

    .left {
        text-align: left;
        align-items: center;
    }

    .rigth {
        text-align: left;
        align-items: center;
    }

    .dropdown {
        width: 80%;
    }

    .label-wrapper {
        text-align: left;
        width: 80%;
    }

    .from-to-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;

        input {
            width: 40%;
            height: 40px;
        }

        span.separator {
            display: inline-block;
            width: 20%;
            text-align: center;
        }
    }

    .search-btn {
        padding: 10px;
        width: 80%;
        margin-left: 10%;
        font-weight: bold;
        margin-top: 40px;
        background-color: #CC2127;
        color: white;
    }
}