@import '../../../cssVariables.scss';

.home-wallpaper-container {
    width: 100%;

    .images-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;

        img {
            width: 33%;
        }
    }

    .image-overlay {
        background-color: #00000055;
        height: 100%;
        position: absolute;
        width: 100%;
        height: calc(32.66vw);
    }

    .home-content-container {
        text-align: center;
        position: absolute;
        width: 70%;
        color: white;
        top: 15vw;
        left: calc(15% - 2.5px);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .description {
            width: 40%;
            text-align: center;
        }

        .auto-complete {
            margin-top: 20px;
            width: 65%;
            max-width: 80vw;
        }
    }

    .home-wallpaper-separator {
        position: absolute;
        z-index: -1;
    }

    .polygon-content {
        .primaryHeader {
            color: $PRIMARY_COLOR
        }
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;    
        height: 200px; 
        h1 {
            z-index: 0;
            margin-top: -50px;
            font-size: 80px;
        }
    }
}