.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0px;

    .left-align {
        padding-left: 50px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        a {
            height: 40%;
            img {
                height: 100%;
            }
        }
    }

    .right-align {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 50px;
        nav {
            display: block;
            a {
                text-decoration: none;
            }
        }

        .nav-element {
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }
        .nav-element-alternative {
            padding: 10px;
            margin-left: 10px;
        }
    }
}